@model IEnumerable<projetomvc.Models.Empregado>

<script>
    $(document).ready(function () {
        $('#modelo').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por paginas",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando a pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Nada a exibir",
                "infoFiltered": "(filtrado de _MAX_ registros)"
            }
        });
    });
</script>


<h1>Colaboradores</h1>

<hr>
<br>



@if(ViewBag.M != null)
{
    <hr>
    <span class="text-danger">@ViewBag.M</span>
    <hr>
}

<table id="modelo" class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Nome</th>
            <th>Letras</th>
            <th>Email</th>
            <th>Cargo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var empregado in Model) {
            <tr>
                <td>@empregado.Id</td>
                <td>@empregado.Nome</td>
                <td>@empregado.Letras</td>
                <td>@empregado.Email</td>
                <td>@empregado.Cargo</td>
  

                <td>
                    <button class="btn btn-secondary"><a href="/Colaboradores/Editar/@empregado.Id">Editar</a></button> 
                    <button class="btn btn-danger"><a href="/Colaboradores/Excluir/@empregado.Id">Excluir</a></button>

                </td>
            </tr>
        }    
    </tbody>

</table>
