@model IEnumerable<projetomvc.Models.Daily>

@{
    Layout = "~/Views/Shared/_LayoutScrum.cshtml";
}  

<script>
    $(document).ready(function () {
        $('#modelo').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por paginas",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando a pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Nada a exibir",
                "infoFiltered": "(filtrado de _MAX_ registros)"
            }
        });
    });
</script>


<h1>Dailys</h1>

<hr>
<br>

<table id="modelo" class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Modulo</th>
            <th>Data</th>
            <th>Presenca</th>
            <th>Feito</th>
            <th>Fazendo</th>
            <th>Impedimentos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dl in Model)
        {

            <tr>
                <td>@dl.Id</td>
                <td>@dl.Modulo.Nome</td>
                <td>@dl.Data.ToString("dd/MM/yyyy")</td>

                @if (dl.Presenca == true)
                    {
                        <td>Sim</td>
                    } else{
                        <td>Não</td>
                    }
                    
                <td>@dl.Feito</td>
                <td>@dl.Fazendo</td>
                <td>@dl.Impedimentos</td>
                <td>
                    <button class="btn btn-success"><a href="/Daily/Editar/@dl.Id">Editar Daily</a></button>
                    <button class="btn btn-primary"><a href="/Daily/Excluir/@dl.Id">Excluir Daily</a></button>
                </td>
            </tr>
        }
    </tbody>

</table>