@model IEnumerable<projetomvc.Models.Grupo>

<script>
    $(document).ready(function () {
        $('#modelo').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por paginas",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando a pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Nada a exibir",
                "infoFiltered": "(filtrado de _MAX_ registros)"
            }
        });
    });
</script>


<h1>Grupos</h1>

<hr>
<br>

<table id="modelo" class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Tecnologia</th>
            <th>Programa Start</th>
            <th>ScrumMaster</th>
            <th>Letras</th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach(var grupo in Model) {
            <tr>
                <td>@grupo.Id</td>
                <td>@grupo.Tecnologia.Nome</td>
                <td>@grupo.ProgramaStart.Nome</td>
                <td>@grupo.ScrumMaster.Nome</td>
                <td>@grupo.ScrumMaster.Letras</td>
                                
                <td>
                    <button class="btn btn-secondary"><a href="/Grupo/Editar/@grupo.Id">Editar</a></button> 
                    <button class="btn btn-danger"><a href="/Grupo/Excluir/@grupo.Id">Excluir</a></button>
                </td>
            </tr>
        }    
    </tbody>

</table>